* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  padding: 30px 0px;
  height: 100vh;
}

/* Banner */
.banner-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 60%;
  padding: 80px 0px;
}

.banner-title {
  font-size: 46px;
  border-left: 5px solid tomato;
  padding-left: 10px;
}

.banner-title span {
  color: tomato;
}

.banner-description {
  width: 50%;
  color: gray;
}

.primary-btn {
  padding: 10px 25px;
  font-size: 14px;
  background-color: tomato;
  border: 2px solid tomato;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 700;
}

.primary-btn:hover {
  background-color: transparent;
  color: black;
}

.scroll {
  color: gray;
}

.banner-img {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
}

.banner-img img {
  width: 100%;
}

/* My Mission */
.mission {
  width: 100%;
  padding: 80px 0px;
}

.mission-container {
  width: 1070px;
  margin: 0 auto;
}

.mission-title {
  text-align: center;
  font-size: 46px;
  margin-bottom: 45px;
}

.mission-title span {
  color: sandybrown;
}

.mission-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  padding: 30px 0px;
}

.mission-card {
  padding: 20px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mission-card img {
  width: 50%;
}

.mission-card-title {
  font-size: 22px;
}

.mission-card-description {
  color: gray;
}

.mission-card-1 {
  background-color: rgb(187, 212, 223);
}

.mission-card-2 {
  background-color: rgb(250, 213, 209);
}

.mission-card-3 {
  background-color: rgb(243, 224, 208);
}

/* Develop */
.develop {
  width: 100%;
  padding: 80px 0px;
  background-image: url("../images/shapes/shape-1.png");
  background-repeat: no-repeat;
  background-position: 40px;
  background-size: 18%;
}

.develop-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.develop-img {
  width: 80%;
}

.develop-img img {
  width: 100%;
}

.develop-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.develop-content-title {
  font-size: 42px;
}

.develop-content-description {
  width: 80%;
}
